body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }